<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
Property List.plist
TodayWeather

Created by SUCHAN CHANG on 2023/11/29.
Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <array>
        <array>
            <string>백령도</string>
            <string>11A00101</string>
        </array>
        <array>
            <string>서울</string>
            <string>11B10101</string>
        </array>
        <array>
            <string>과천</string>
            <string>11B10102</string>
        </array>
        <array>
            <string>광명</string>
            <string>11B10103</string>
        </array>
        <array>
            <string>강화</string>
            <string>11B20101</string>
        </array>
        <array>
            <string>김포</string>
            <string>11B20102</string>
        </array>
        <array>
            <string>인천</string>
            <string>11B20201</string>
        </array>
        <array>
            <string>시흥</string>
            <string>11B20202</string>
        </array>
        <array>
            <string>안산</string>
            <string>11B20203</string>
        </array>
        <array>
            <string>부천</string>
            <string>11B20204</string>
        </array>
        <array>
            <string>의정부</string>
            <string>11B20301</string>
        </array>
        <array>
            <string>고양</string>
            <string>11B20302</string>
        </array>
        <array>
            <string>양주</string>
            <string>11B20304</string>
        </array>
        <array>
            <string>파주</string>
            <string>11B20305</string>
        </array>
        <array>
            <string>동두천</string>
            <string>11B20401</string>
        </array>
        <array>
            <string>연천</string>
            <string>11B20402</string>
        </array>
        <array>
            <string>포천</string>
            <string>11B20403</string>
        </array>
        <array>
            <string>가평</string>
            <string>11B20404</string>
        </array>
        <array>
            <string>구리</string>
            <string>11B20501</string>
        </array>
        <array>
            <string>남양주</string>
            <string>11B20502</string>
        </array>
        <array>
            <string>양평</string>
            <string>11B20503</string>
        </array>
        <array>
            <string>하남</string>
            <string>11B20504</string>
        </array>
        <array>
            <string>수원</string>
            <string>11B20601</string>
        </array>
        <array>
            <string>안양</string>
            <string>11B20602</string>
        </array>
        <array>
            <string>오산</string>
            <string>11B20603</string>
        </array>
        <array>
            <string>화성</string>
            <string>11B20604</string>
        </array>
        <array>
            <string>성남</string>
            <string>11B20605</string>
        </array>
        <array>
            <string>평택</string>
            <string>11B20606</string>
        </array>
        <array>
            <string>의왕</string>
            <string>11B20609</string>
        </array>
        <array>
            <string>군포</string>
            <string>11B20610</string>
        </array>
        <array>
            <string>안성</string>
            <string>11B20611</string>
        </array>
        <array>
            <string>용인</string>
            <string>11B20612</string>
        </array>
        <array>
            <string>이천</string>
            <string>11B20701</string>
        </array>
        <array>
            <string>광주</string>
            <string>11B20702</string>
        </array>
        <array>
            <string>여주</string>
            <string>11B20703</string>
        </array>
        <array>
            <string>충주</string>
            <string>11C10101</string>
        </array>
        <array>
            <string>진천</string>
            <string>11C10102</string>
        </array>
        <array>
            <string>음성</string>
            <string>11C10103</string>
        </array>
        <array>
            <string>제천</string>
            <string>11C10201</string>
        </array>
        <array>
            <string>단양</string>
            <string>11C10202</string>
        </array>
        <array>
            <string>청주</string>
            <string>11C10301</string>
        </array>
        <array>
            <string>보은</string>
            <string>11C10302</string>
        </array>
        <array>
            <string>괴산</string>
            <string>11C10303</string>
        </array>
        <array>
            <string>증평</string>
            <string>11C10304</string>
        </array>
        <array>
            <string>추풍령</string>
            <string>11C10401</string>
        </array>
        <array>
            <string>영동</string>
            <string>11C10402</string>
        </array>
        <array>
            <string>옥천</string>
            <string>11C10403</string>
        </array>
        <array>
            <string>서산</string>
            <string>11C20101</string>
        </array>
        <array>
            <string>태안</string>
            <string>11C20102</string>
        </array>
        <array>
            <string>당진</string>
            <string>11C20103</string>
        </array>
        <array>
            <string>홍성</string>
            <string>11C20104</string>
        </array>
        <array>
            <string>보령</string>
            <string>11C20201</string>
        </array>
        <array>
            <string>서천</string>
            <string>11C20202</string>
        </array>
        <array>
            <string>천안</string>
            <string>11C20301</string>
        </array>
        <array>
            <string>아산</string>
            <string>11C20302</string>
        </array>
        <array>
            <string>예산</string>
            <string>11C20303</string>
        </array>
        <array>
            <string>대전</string>
            <string>11C20401</string>
        </array>
        <array>
            <string>공주</string>
            <string>11C20402</string>
        </array>
        <array>
            <string>계룡</string>
            <string>11C20403</string>
        </array>
        <array>
            <string>세종</string>
            <string>11C20404</string>
        </array>
        <array>
            <string>부여</string>
            <string>11C20501</string>
        </array>
        <array>
            <string>청양</string>
            <string>11C20502</string>
        </array>
        <array>
            <string>금산</string>
            <string>11C20601</string>
        </array>
        <array>
            <string>논산</string>
            <string>11C20602</string>
        </array>
        <array>
            <string>철원</string>
            <string>11D10101</string>
        </array>
        <array>
            <string>화천</string>
            <string>11D10102</string>
        </array>
        <array>
            <string>인제</string>
            <string>11D10201</string>
        </array>
        <array>
            <string>양구</string>
            <string>11D10202</string>
        </array>
        <array>
            <string>춘천</string>
            <string>11D10301</string>
        </array>
        <array>
            <string>홍천</string>
            <string>11D10302</string>
        </array>
        <array>
            <string>원주</string>
            <string>11D10401</string>
        </array>
        <array>
            <string>횡성</string>
            <string>11D10402</string>
        </array>
        <array>
            <string>영월</string>
            <string>11D10501</string>
        </array>
        <array>
            <string>정선</string>
            <string>11D10502</string>
        </array>
        <array>
            <string>평창</string>
            <string>11D10503</string>
        </array>
        <array>
            <string>대관령</string>
            <string>11D20201</string>
        </array>
        <array>
            <string>태백</string>
            <string>11D20301</string>
        </array>
        <array>
            <string>속초</string>
            <string>11D20401</string>
        </array>
        <array>
            <string>고성</string>
            <string>11D20402</string>
        </array>
        <array>
            <string>양양</string>
            <string>11D20403</string>
        </array>
        <array>
            <string>강릉</string>
            <string>11D20501</string>
        </array>
        <array>
            <string>동해</string>
            <string>11D20601</string>
        </array>
        <array>
            <string>삼척</string>
            <string>11D20602</string>
        </array>
        <array>
            <string>울릉도</string>
            <real>11E00101</real>
        </array>
        <array>
            <string>독도</string>
            <real>11E00102</real>
        </array>
        <array>
            <string>전주</string>
            <string>11F10201</string>
        </array>
        <array>
            <string>익산</string>
            <string>11F10202</string>
        </array>
        <array>
            <string>정읍</string>
            <string>11F10203</string>
        </array>
        <array>
            <string>완주</string>
            <string>11F10204</string>
        </array>
        <array>
            <string>장수</string>
            <string>11F10301</string>
        </array>
        <array>
            <string>무주</string>
            <string>11F10302</string>
        </array>
        <array>
            <string>진안</string>
            <string>11F10303</string>
        </array>
        <array>
            <string>남원</string>
            <string>11F10401</string>
        </array>
        <array>
            <string>임실</string>
            <string>11F10402</string>
        </array>
        <array>
            <string>순창</string>
            <string>11F10403</string>
        </array>
        <array>
            <string>군산</string>
            <string>21F10501</string>
        </array>
        <array>
            <string>김제</string>
            <string>21F10502</string>
        </array>
        <array>
            <string>고창</string>
            <string>21F10601</string>
        </array>
        <array>
            <string>부안</string>
            <string>21F10602</string>
        </array>
        <array>
            <string>함평</string>
            <string>21F20101</string>
        </array>
        <array>
            <string>영광</string>
            <string>21F20102</string>
        </array>
        <array>
            <string>진도</string>
            <string>21F20201</string>
        </array>
        <array>
            <string>완도</string>
            <string>11F20301</string>
        </array>
        <array>
            <string>해남</string>
            <string>11F20302</string>
        </array>
        <array>
            <string>강진</string>
            <string>11F20303</string>
        </array>
        <array>
            <string>장흥</string>
            <string>11F20304</string>
        </array>
        <array>
            <string>여수</string>
            <string>11F20401</string>
        </array>
        <array>
            <string>광양</string>
            <string>11F20402</string>
        </array>
        <array>
            <string>고흥</string>
            <string>11F20403</string>
        </array>
        <array>
            <string>보성</string>
            <string>11F20404</string>
        </array>
        <array>
            <string>순천시</string>
            <string>11F20405</string>
        </array>
        <array>
            <string>광주</string>
            <string>11F20501</string>
        </array>
        <array>
            <string>장성</string>
            <string>11F20502</string>
        </array>
        <array>
            <string>나주</string>
            <string>11F20503</string>
        </array>
        <array>
            <string>담양</string>
            <string>11F20504</string>
        </array>
        <array>
            <string>화순</string>
            <string>11F20505</string>
        </array>
        <array>
            <string>구례</string>
            <string>11F20601</string>
        </array>
        <array>
            <string>곡성</string>
            <string>11F20602</string>
        </array>
        <array>
            <string>순천</string>
            <string>11F20603</string>
        </array>
        <array>
            <string>흑산도</string>
            <string>11F20701</string>
        </array>
        <array>
            <string>목포</string>
            <string>21F20801</string>
        </array>
        <array>
            <string>영암</string>
            <string>21F20802</string>
        </array>
        <array>
            <string>신안</string>
            <string>21F20803</string>
        </array>
        <array>
            <string>무안</string>
            <string>21F20804</string>
        </array>
        <array>
            <string>성산</string>
            <string>11G00101</string>
        </array>
        <array>
            <string>제주</string>
            <string>11G00201</string>
        </array>
        <array>
            <string>성판악</string>
            <string>11G00302</string>
        </array>
        <array>
            <string>서귀포</string>
            <string>11G00401</string>
        </array>
        <array>
            <string>고산</string>
            <string>11G00501</string>
        </array>
        <array>
            <string>이어도</string>
            <string>11G00601</string>
        </array>
        <array>
            <string>추자도</string>
            <string>11G00800</string>
        </array>
        <array>
            <string>울진</string>
            <string>11H10101</string>
        </array>
        <array>
            <string>영덕</string>
            <string>11H10102</string>
        </array>
        <array>
            <string>포항</string>
            <string>11H10201</string>
        </array>
        <array>
            <string>경주</string>
            <string>11H10202</string>
        </array>
        <array>
            <string>문경</string>
            <string>11H10301</string>
        </array>
        <array>
            <string>상주</string>
            <string>11H10302</string>
        </array>
        <array>
            <string>예천</string>
            <string>11H10303</string>
        </array>
        <array>
            <string>영주</string>
            <string>11H10401</string>
        </array>
        <array>
            <string>봉화</string>
            <string>11H10402</string>
        </array>
        <array>
            <string>영양</string>
            <string>11H10403</string>
        </array>
        <array>
            <string>안동</string>
            <string>11H10501</string>
        </array>
        <array>
            <string>의성</string>
            <string>11H10502</string>
        </array>
        <array>
            <string>청송</string>
            <string>11H10503</string>
        </array>
        <array>
            <string>김천</string>
            <string>11H10601</string>
        </array>
        <array>
            <string>구미</string>
            <string>11H10602</string>
        </array>
        <array>
            <string>군위</string>
            <string>11H10603</string>
        </array>
        <array>
            <string>고령</string>
            <string>11H10604</string>
        </array>
        <array>
            <string>성주</string>
            <string>11H10605</string>
        </array>
        <array>
            <string>대구</string>
            <string>11H10701</string>
        </array>
        <array>
            <string>영천</string>
            <string>11H10702</string>
        </array>
        <array>
            <string>경산</string>
            <string>11H10703</string>
        </array>
        <array>
            <string>청도</string>
            <string>11H10704</string>
        </array>
        <array>
            <string>칠곡</string>
            <string>11H10705</string>
        </array>
        <array>
            <string>울산</string>
            <string>11H20101</string>
        </array>
        <array>
            <string>양산</string>
            <string>11H20102</string>
        </array>
        <array>
            <string>부산</string>
            <string>11H20201</string>
        </array>
        <array>
            <string>창원</string>
            <string>11H20301</string>
        </array>
        <array>
            <string>김해</string>
            <string>11H20304</string>
        </array>
        <array>
            <string>통영</string>
            <string>11H20401</string>
        </array>
        <array>
            <string>사천</string>
            <string>11H20402</string>
        </array>
        <array>
            <string>거제</string>
            <string>11H20403</string>
        </array>
        <array>
            <string>고성</string>
            <string>11H20404</string>
        </array>
        <array>
            <string>남해</string>
            <string>11H20405</string>
        </array>
        <array>
            <string>함양</string>
            <string>11H20501</string>
        </array>
        <array>
            <string>거창</string>
            <string>11H20502</string>
        </array>
        <array>
            <string>합천</string>
            <string>11H20503</string>
        </array>
        <array>
            <string>밀양</string>
            <string>11H20601</string>
        </array>
        <array>
            <string>의령</string>
            <string>11H20602</string>
        </array>
        <array>
            <string>함안</string>
            <string>11H20603</string>
        </array>
        <array>
            <string>창녕</string>
            <string>11H20604</string>
        </array>
        <array>
            <string>진주</string>
            <string>11H20701</string>
        </array>
        <array>
            <string>산청</string>
            <string>11H20703</string>
        </array>
        <array>
            <string>하동</string>
            <string>11H20704</string>
        </array>
        <array>
            <string>사리원</string>
            <string>11I10001</string>
        </array>
        <array>
            <string>신계</string>
            <string>11I10002</string>
        </array>
        <array>
            <string>해주</string>
            <string>11I20001</string>
        </array>
        <array>
            <string>개성</string>
            <string>11I20002</string>
        </array>
        <array>
            <string>장연(용연)</string>
            <string>11I20003</string>
        </array>
        <array>
            <string>신의주</string>
            <string>11J10001</string>
        </array>
        <array>
            <string>삭주(수풍)</string>
            <string>11J10002</string>
        </array>
        <array>
            <string>구성</string>
            <string>11J10003</string>
        </array>
        <array>
            <string>자성(중강)</string>
            <string>11J10004</string>
        </array>
        <array>
            <string>강계</string>
            <string>11J10005</string>
        </array>
        <array>
            <string>희천</string>
            <string>11J10006</string>
        </array>
        <array>
            <string>평양</string>
            <string>11J20001</string>
        </array>
        <array>
            <string>진남포(남포)</string>
            <string>11J20002</string>
        </array>
        <array>
            <string>안주</string>
            <string>11J20004</string>
        </array>
        <array>
            <string>양덕</string>
            <string>11J20005</string>
        </array>
        <array>
            <string>청진</string>
            <string>11K10001</string>
        </array>
        <array>
            <string>웅기(선봉)</string>
            <string>11K10002</string>
        </array>
        <array>
            <string>성진(김책)</string>
            <string>11K10003</string>
        </array>
        <array>
            <string>무산(삼지연)</string>
            <string>11K10004</string>
        </array>
        <array>
            <string>함흥</string>
            <string>11K20001</string>
        </array>
        <array>
            <string>장진</string>
            <string>11K20002</string>
        </array>
        <array>
            <string>북청(신포)</string>
            <string>11K20003</string>
        </array>
        <array>
            <string>혜산</string>
            <string>11K20004</string>
        </array>
        <array>
            <string>풍산</string>
            <string>11K20005</string>
        </array>
        <array>
            <string>원산</string>
            <string>11L10001</string>
        </array>
        <array>
            <string>고성(장전)</string>
            <string>11L10002</string>
        </array>
        <array>
            <string>평강</string>
            <string>11L10003</string>
        </array>
    </array>
</plist>
