<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>RegName</key>
		<string>백령도</string>
		<key>RegId</key>
		<string>11A00101</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>서울</string>
		<key>RegId</key>
		<string>11B10101</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>과천</string>
		<key>RegId</key>
		<string>11B10102</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>광명</string>
		<key>RegId</key>
		<string>11B10103</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>강화</string>
		<key>RegId</key>
		<string>11B20101</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>김포</string>
		<key>RegId</key>
		<string>11B20102</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>인천</string>
		<key>RegId</key>
		<string>11B20201</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>시흥</string>
		<key>RegId</key>
		<string>11B20202</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>안산</string>
		<key>RegId</key>
		<string>11B20203</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>부천</string>
		<key>RegId</key>
		<string>11B20204</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>의정부</string>
		<key>RegId</key>
		<string>11B20301</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>고양</string>
		<key>RegId</key>
		<string>11B20302</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>양주</string>
		<key>RegId</key>
		<string>11B20304</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>파주</string>
		<key>RegId</key>
		<string>11B20305</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>동두천</string>
		<key>RegId</key>
		<string>11B20401</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>연천</string>
		<key>RegId</key>
		<string>11B20402</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>포천</string>
		<key>RegId</key>
		<string>11B20403</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>가평</string>
		<key>RegId</key>
		<string>11B20404</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>구리</string>
		<key>RegId</key>
		<string>11B20501</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>남양주</string>
		<key>RegId</key>
		<string>11B20502</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>양평</string>
		<key>RegId</key>
		<string>11B20503</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>하남</string>
		<key>RegId</key>
		<string>11B20504</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>수원</string>
		<key>RegId</key>
		<string>11B20601</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>안양</string>
		<key>RegId</key>
		<string>11B20602</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>오산</string>
		<key>RegId</key>
		<string>11B20603</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>화성</string>
		<key>RegId</key>
		<string>11B20604</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>성남</string>
		<key>RegId</key>
		<string>11B20605</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>평택</string>
		<key>RegId</key>
		<string>11B20606</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>의왕</string>
		<key>RegId</key>
		<string>11B20609</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>군포</string>
		<key>RegId</key>
		<string>11B20610</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>안성</string>
		<key>RegId</key>
		<string>11B20611</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>용인</string>
		<key>RegId</key>
		<string>11B20612</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>이천</string>
		<key>RegId</key>
		<string>11B20701</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>광주</string>
		<key>RegId</key>
		<string>11B20702</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>여주</string>
		<key>RegId</key>
		<string>11B20703</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>충주</string>
		<key>RegId</key>
		<string>11C10101</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>진천</string>
		<key>RegId</key>
		<string>11C10102</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>음성</string>
		<key>RegId</key>
		<string>11C10103</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>제천</string>
		<key>RegId</key>
		<string>11C10201</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>단양</string>
		<key>RegId</key>
		<string>11C10202</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>청주</string>
		<key>RegId</key>
		<string>11C10301</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>보은</string>
		<key>RegId</key>
		<string>11C10302</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>괴산</string>
		<key>RegId</key>
		<string>11C10303</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>증평</string>
		<key>RegId</key>
		<string>11C10304</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>추풍령</string>
		<key>RegId</key>
		<string>11C10401</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>영동</string>
		<key>RegId</key>
		<string>11C10402</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>옥천</string>
		<key>RegId</key>
		<string>11C10403</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>서산</string>
		<key>RegId</key>
		<string>11C20101</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>태안</string>
		<key>RegId</key>
		<string>11C20102</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>당진</string>
		<key>RegId</key>
		<string>11C20103</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>홍성</string>
		<key>RegId</key>
		<string>11C20104</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>보령</string>
		<key>RegId</key>
		<string>11C20201</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>서천</string>
		<key>RegId</key>
		<string>11C20202</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>천안</string>
		<key>RegId</key>
		<string>11C20301</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>아산</string>
		<key>RegId</key>
		<string>11C20302</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>예산</string>
		<key>RegId</key>
		<string>11C20303</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>대전</string>
		<key>RegId</key>
		<string>11C20401</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>공주</string>
		<key>RegId</key>
		<string>11C20402</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>계룡</string>
		<key>RegId</key>
		<string>11C20403</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>세종</string>
		<key>RegId</key>
		<string>11C20404</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>부여</string>
		<key>RegId</key>
		<string>11C20501</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>청양</string>
		<key>RegId</key>
		<string>11C20502</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>금산</string>
		<key>RegId</key>
		<string>11C20601</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>논산</string>
		<key>RegId</key>
		<string>11C20602</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>철원</string>
		<key>RegId</key>
		<string>11D10101</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>화천</string>
		<key>RegId</key>
		<string>11D10102</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>인제</string>
		<key>RegId</key>
		<string>11D10201</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>양구</string>
		<key>RegId</key>
		<string>11D10202</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>춘천</string>
		<key>RegId</key>
		<string>11D10301</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>홍천</string>
		<key>RegId</key>
		<string>11D10302</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>원주</string>
		<key>RegId</key>
		<string>11D10401</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>횡성</string>
		<key>RegId</key>
		<string>11D10402</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>영월</string>
		<key>RegId</key>
		<string>11D10501</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>정선</string>
		<key>RegId</key>
		<string>11D10502</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>평창</string>
		<key>RegId</key>
		<string>11D10503</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>대관령</string>
		<key>RegId</key>
		<string>11D20201</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>태백</string>
		<key>RegId</key>
		<string>11D20301</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>속초</string>
		<key>RegId</key>
		<string>11D20401</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>고성</string>
		<key>RegId</key>
		<string>11D20402</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>양양</string>
		<key>RegId</key>
		<string>11D20403</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>강릉</string>
		<key>RegId</key>
		<string>11D20501</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>동해</string>
		<key>RegId</key>
		<string>11D20601</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>삼척</string>
		<key>RegId</key>
		<string>11D20602</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>울릉도</string>
		<key>RegId</key>
		<string>11E00101</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>독도</string>
		<key>RegId</key>
		<string>11E00102</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>전주</string>
		<key>RegId</key>
		<string>11F10201</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>익산</string>
		<key>RegId</key>
		<string>11F10202</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>정읍</string>
		<key>RegId</key>
		<string>11F10203</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>완주</string>
		<key>RegId</key>
		<string>11F10204</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>장수</string>
		<key>RegId</key>
		<string>11F10301</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>무주</string>
		<key>RegId</key>
		<string>11F10302</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>진안</string>
		<key>RegId</key>
		<string>11F10303</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>남원</string>
		<key>RegId</key>
		<string>11F10401</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>임실</string>
		<key>RegId</key>
		<string>11F10402</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>순창</string>
		<key>RegId</key>
		<string>11F10403</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>군산</string>
		<key>RegId</key>
		<string>21F10501</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>김제</string>
		<key>RegId</key>
		<string>21F10502</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>고창</string>
		<key>RegId</key>
		<string>21F10601</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>부안</string>
		<key>RegId</key>
		<string>21F10602</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>함평</string>
		<key>RegId</key>
		<string>21F20101</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>영광</string>
		<key>RegId</key>
		<string>21F20102</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>진도</string>
		<key>RegId</key>
		<string>21F20201</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>완도</string>
		<key>RegId</key>
		<string>11F20301</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>해남</string>
		<key>RegId</key>
		<string>11F20302</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>강진</string>
		<key>RegId</key>
		<string>11F20303</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>장흥</string>
		<key>RegId</key>
		<string>11F20304</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>여수</string>
		<key>RegId</key>
		<string>11F20401</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>광양</string>
		<key>RegId</key>
		<string>11F20402</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>고흥</string>
		<key>RegId</key>
		<string>11F20403</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>보성</string>
		<key>RegId</key>
		<string>11F20404</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>순천시</string>
		<key>RegId</key>
		<string>11F20405</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>광주</string>
		<key>RegId</key>
		<string>11F20501</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>장성</string>
		<key>RegId</key>
		<string>11F20502</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>나주</string>
		<key>RegId</key>
		<string>11F20503</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>담양</string>
		<key>RegId</key>
		<string>11F20504</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>화순</string>
		<key>RegId</key>
		<string>11F20505</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>구례</string>
		<key>RegId</key>
		<string>11F20601</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>곡성</string>
		<key>RegId</key>
		<string>11F20602</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>순천</string>
		<key>RegId</key>
		<string>11F20603</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>흑산도</string>
		<key>RegId</key>
		<string>11F20701</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>목포</string>
		<key>RegId</key>
		<string>21F20801</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>영암</string>
		<key>RegId</key>
		<string>21F20802</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>신안</string>
		<key>RegId</key>
		<string>21F20803</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>무안</string>
		<key>RegId</key>
		<string>21F20804</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>성산</string>
		<key>RegId</key>
		<string>11G00101</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>제주</string>
		<key>RegId</key>
		<string>11G00201</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>성판악</string>
		<key>RegId</key>
		<string>11G00302</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>서귀포</string>
		<key>RegId</key>
		<string>11G00401</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>고산</string>
		<key>RegId</key>
		<string>11G00501</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>이어도</string>
		<key>RegId</key>
		<string>11G00601</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>추자도</string>
		<key>RegId</key>
		<string>11G00800</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>울진</string>
		<key>RegId</key>
		<string>11H10101</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>영덕</string>
		<key>RegId</key>
		<string>11H10102</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>포항</string>
		<key>RegId</key>
		<string>11H10201</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>경주</string>
		<key>RegId</key>
		<string>11H10202</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>문경</string>
		<key>RegId</key>
		<string>11H10301</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>상주</string>
		<key>RegId</key>
		<string>11H10302</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>예천</string>
		<key>RegId</key>
		<string>11H10303</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>영주</string>
		<key>RegId</key>
		<string>11H10401</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>봉화</string>
		<key>RegId</key>
		<string>11H10402</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>영양</string>
		<key>RegId</key>
		<string>11H10403</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>안동</string>
		<key>RegId</key>
		<string>11H10501</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>의성</string>
		<key>RegId</key>
		<string>11H10502</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>청송</string>
		<key>RegId</key>
		<string>11H10503</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>김천</string>
		<key>RegId</key>
		<string>11H10601</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>구미</string>
		<key>RegId</key>
		<string>11H10602</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>군위</string>
		<key>RegId</key>
		<string>11H10603</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>고령</string>
		<key>RegId</key>
		<string>11H10604</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>성주</string>
		<key>RegId</key>
		<string>11H10605</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>대구</string>
		<key>RegId</key>
		<string>11H10701</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>영천</string>
		<key>RegId</key>
		<string>11H10702</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>경산</string>
		<key>RegId</key>
		<string>11H10703</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>청도</string>
		<key>RegId</key>
		<string>11H10704</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>칠곡</string>
		<key>RegId</key>
		<string>11H10705</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>울산</string>
		<key>RegId</key>
		<string>11H20101</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>양산</string>
		<key>RegId</key>
		<string>11H20102</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>부산</string>
		<key>RegId</key>
		<string>11H20201</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>창원</string>
		<key>RegId</key>
		<string>11H20301</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>김해</string>
		<key>RegId</key>
		<string>11H20304</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>통영</string>
		<key>RegId</key>
		<string>11H20401</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>사천</string>
		<key>RegId</key>
		<string>11H20402</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>거제</string>
		<key>RegId</key>
		<string>11H20403</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>고성</string>
		<key>RegId</key>
		<string>11H20404</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>남해</string>
		<key>RegId</key>
		<string>11H20405</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>함양</string>
		<key>RegId</key>
		<string>11H20501</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>거창</string>
		<key>RegId</key>
		<string>11H20502</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>합천</string>
		<key>RegId</key>
		<string>11H20503</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>밀양</string>
		<key>RegId</key>
		<string>11H20601</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>의령</string>
		<key>RegId</key>
		<string>11H20602</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>함안</string>
		<key>RegId</key>
		<string>11H20603</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>창녕</string>
		<key>RegId</key>
		<string>11H20604</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>진주</string>
		<key>RegId</key>
		<string>11H20701</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>산청</string>
		<key>RegId</key>
		<string>11H20703</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>하동</string>
		<key>RegId</key>
		<string>11H20704</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>사리원</string>
		<key>RegId</key>
		<string>11I10001</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>신계</string>
		<key>RegId</key>
		<string>11I10002</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>해주</string>
		<key>RegId</key>
		<string>11I20001</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>개성</string>
		<key>RegId</key>
		<string>11I20002</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>장연(용연)</string>
		<key>RegId</key>
		<string>11I20003</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>신의주</string>
		<key>RegId</key>
		<string>11J10001</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>삭주(수풍)</string>
		<key>RegId</key>
		<string>11J10002</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>구성</string>
		<key>RegId</key>
		<string>11J10003</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>자성(중강)</string>
		<key>RegId</key>
		<string>11J10004</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>강계</string>
		<key>RegId</key>
		<string>11J10005</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>희천</string>
		<key>RegId</key>
		<string>11J10006</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>평양</string>
		<key>RegId</key>
		<string>11J20001</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>진남포(남포)</string>
		<key>RegId</key>
		<string>11J20002</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>안주</string>
		<key>RegId</key>
		<string>11J20004</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>양덕</string>
		<key>RegId</key>
		<string>11J20005</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>청진</string>
		<key>RegId</key>
		<string>11K10001</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>웅기(선봉)</string>
		<key>RegId</key>
		<string>11K10002</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>성진(김책)</string>
		<key>RegId</key>
		<string>11K10003</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>무산(삼지연)</string>
		<key>RegId</key>
		<string>11K10004</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>함흥</string>
		<key>RegId</key>
		<string>11K20001</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>장진</string>
		<key>RegId</key>
		<string>11K20002</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>북청(신포)</string>
		<key>RegId</key>
		<string>11K20003</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>혜산</string>
		<key>RegId</key>
		<string>11K20004</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>풍산</string>
		<key>RegId</key>
		<string>11K20005</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>원산</string>
		<key>RegId</key>
		<string>11L10001</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>고성(장전)</string>
		<key>RegId</key>
		<string>11L10002</string>
	</dict>
	<dict>
		<key>RegName</key>
		<string>평강</string>
		<key>RegId</key>
		<string>11L10003</string>
	</dict>
</array>
</plist>
